{% extends "UserLayout.html"%}
{% block links %}
<a class="mr-5 hover:text-gray-900" href="/dashboard">Dashboard</a>
<a class="mr-5 hover:text-gray-900" href="/editarticles">Edit Article</a>
<a class="mr-5 hover:text-gray-900" href="/delete articles">Delete Article</a>
{% endblock %}

{% block body %}
    <div class="articleupload" style="max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        
        <form id="articleForm" action="/addarticle" method="POST"
        style="display: flex; flex-direction: column;">
            
        <label for="title" style="margin-bottom: 8px;" >Title:</label>    
        <input type="text" id="title" name="title"  style=" margin-bottom: 16px;padding: 8px;
            border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" required>

            <label for="description"  style="margin-bottom: 8px;" >Description:</label>
            <input type="text" id="description" name="description"  style=" margin-bottom: 16px;padding: 8px;
            border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" required>

            <label for="content"  style="margin-bottom: 8px;" >Content:</label>
            <textarea id="content" name="content" rows="8" required  style=" margin-bottom: 16px;padding: 8px;
            border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" ></textarea>




            <button type="submit" style=" padding: 10px;
            background-color: #357ec7;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;">Upload Article</button>
        </form>
    </div>
{% endblock %}
