{% extends "AdminLayout.html" %}
{% block links %}
<a class="mr-5 hover:text-gray-900" href="/">HomePage</a>
<a class="mr-5 hover:text-gray-900" href="/AddAuthor" style="color: black;">Add member</a>
<a class="mr-5 hover:text-gray-900" href="/change-admin-password" style="color: black;">change Admin Password</a>
{% endblock %}


{% block heading %}
<span class="ml-3 text-xl" style="color:white ;">Dashboard-Admin</span>
{% endblock%}


{% block body%}
{% with messages=get_flashed_messages(with_categories=true)%}
{% if messages %}
{% for category,message in messages %}
{% if category=='error' %}

  
   <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Member Not Added!</strong>
    <span class="block sm:inline"> {{message}}</span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
  </div>

{% else %}


<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert" >

    <span class="block sm:inline"> {{message}}</span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
  </div>

{% endif %}
{% endfor %}
{% endif%}
{% endwith %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Take Action on Article and Users</h1>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400" style="background-color:  #357ec7;">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Article Title
                    </th>
                    
                    <th scope="col" class="px-6 py-3">
                        Date Posted
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Description
                  </th>
                   
                    <th  style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
        {% for article in articles %}
        <div class="py-8 flex flex-wrap md:flex-nowrap" >
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <tr>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{article.title}}
              </th>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{article.date_posted}}
              </th>
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{article.description}}
              </th>
          
              <td class="px-6 py-4">
                  <a href="/AdminDeleteArticle/{{article.articleid}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" 
                  style="text-align: center;">Delete</a>
                  
              </td>
          </tr>
          
        {% endfor %}
      </tbody>
      </table>
        </div>
      </div>






      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400" style="background-color:  #357ec7;">
    <tr>
        <th scope="col" class="px-6 py-3">
           Author Name
        </th>
        
        
      </th>
       
        <th  style="text-align: center;">Action</th>
    </tr>
</thead>
<tbody>
{% for user in users %}
<div class="py-8 flex flex-wrap md:flex-nowrap" >
<div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
<tr>
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      {{user.name}}
  </th>
  

  <td class="px-6 py-4">
      <a href="/DeleteAuthor/{{user.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline" 
      style="text-align: center;">Delete</a>
      
  </td>
</tr>

{% endfor %}
</tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

